<h1>form to update a figure</h1>
<form class="" action="/figures/<%= @figure.slug %>" method="post">
  <h3><label>Name: </label>
  <input id="figure_name" type="text" name="figure[name]" value="<%= @figure.name %>"></h3>

  <h3>Titles:</h3>
  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%= 'checked' if @figure.titles.include?(title) %> ><%= title.name %></input>
    <% end %>

  <p><label>Or enter a new title: </label>
  <input id="new_title" type="text" name="title[name]" value=""></p>

  <h3>Landmarks:</h3>
  <% Landmark.all.each do |landmark| %>
    <% if landmark.figure_id == nil || @figure.landmarks.include?(landmark) %>
      <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input>
      <% end %>
    <% end %>

  <p><label>Or enter a new landmark:</label>
  <input id="new_landmark" type="text" name="landmark[name]" value=""></p>

  <p><input type="submit" name="" value="Edit Figure"></p>
</form>
